---
import FrameworkLogoGrid from "./FrameworkLogoGrid.astro";
---

<section class="bg-icterine relative z-bg sectionPadding page-grid flex-col">
  <div class="col-start-3 col-span-8 flex flex-col items-center">
    <h2 class="boxed mb-12">About the Project</h2>

    <!-- logo grid -->
    <FrameworkLogoGrid />

    <p class="text-xl font-bold leading-loose">
      Irure eu laboris irure nisi aute voluptate aliquip duis deserunt ullamco
      labore do. Ex laborum eu nulla elit velit cupidatat duis occaecat do.
      Veniam incididunt do incididunt laborum fugiat non. Adipisicing veniam ut
      deserunt sint excepteur eu irure ullamco qui voluptate ex fugiat cupidatat
      minim minim. Cupidatat fugiat incididunt proident fugiat labore ut
      exercitation nisi laborum ad exercitation cillum enim officia et. Culpa
      exercitation ut qui.
    </p>

    <hr
      class="vertical absolute -bottom-[60px] left-1/2 -translate-x-1/2 py-4 w-full"
    />
  </div>
</section>
