<h3>Building the Project In</h3>

<ul>
  <li>
    <div>
      <h4>Installing</h4>
      <p>Getting up and running with SvelteKit + Tailwind</p>
    </div>
    <input type="checkbox" name="lesson" value="1" />
  </li>
</ul>
