---
import Remix from "./logos/Remix.svelte";
import Nextjs from "./logos/Nextjs.svelte";
import Redwood from "./logos/Redwood.svelte";
import Sveltekit from "./logos/Sveltekit.svelte";
import AstroLogo from "./logos/Astro.svelte";
---

<div
  class="flex flex-wrap items-center justify-center gap-x-[100px] gap-y-10 mb-12"
>
  <Remix width={219} />
  <Nextjs width={243} />
  <Redwood width={305} />
  <Sveltekit width={299} />
  <AstroLogo width={256} />
</div>
