<div class="mt-[100px] subscribe-to-my-newsletter">
  <h1
    class="font-condensed text-[294px] leading-[0.8] outline-text text-mardiGras"
  >
    Subscribe
  </h1>
  <div class="flex items-center gap-6 mr-8">
    <h1 class="font-condensed text-[294px] leading-[0.8] text-fountainBlue">
      to my
    </h1>
    <form
      action="https://kwesforms.com/api/foreign/forms/gupRYW5HmE42nYLheBoA"
      class="kf-form flex-1 flex gap-x-10 items-end mb-10 flex-wrap"
    >
      <div class="field mb-0 flex-1">
        <label for="email" class="text-4xl font-bold">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          data-kw-rules="required|email"
        />
      </div>
      <div>
        <button class="h-[96px] bg-black text-icterine px-[70px]" type="submit"
          >Subscribe</button
        >
      </div>
    </form>
  </div>
  <h1 class="font-condensed text-[294px] leading-[0.8] text-fountainBlue">
    Newsletter
  </h1>
  <div class="page-grid mb-[120px]">
    <div class="col-span-8 col-start-3">
      <p class="text-xl leading-1.8">
        Irure eu laboris irure nisi aute voluptate aliquip duis deserunt ullamco
        labore do. Ex laborum eu nulla elit velit cupidatat duis occaecat do.
        Veniam incididunt do incididunt laborum fugiat non. Adipisicing veniam
        ut deserunt sint excepteur eu irure ullamco qui voluptate ex fugiat
        cupidatat minim minim. Cupidatat fugiat incididunt proident fugiat
        labore ut exercitation nisi laborum ad exercitation cillum enim officia
        et. Culpa exercitation ut qui.
      </p>
    </div>
  </div>
</div>
