---
import "../styles/tailwind.css";
import Nav from "../components/Nav.svelte";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Brazilian Nut News</title>

    <!-- FATHOM ANALYTICS -->
    <script src="https://cdn.usefathom.com/script.js" data-site="ZEHCWJON" defer
    ></script>
  </head>
  <body>
    <Nav client:only />
    <slot />
    <Footer />

    <!-- KWES FORMS -->
    <script src="https://kwesforms.com/v2/kf-script.js" defer></script>
  </body>
</html>
